*{
    margin: 0;
    padding: 0;
}
.header{
    width: 980px;
    margin: 0 auto;
    
    height: 60px;
    line-height: 60px;
    & .logo{
        display: flex;
        float: left;
        & img{
            display: block;
            height: 39px;
            margin-top: 18px;
        }

    }
    & div{
        width: 300px;
        float: right;
        font-size: 14px;
        color: #666;
        & span{
            float: left;
        }
        & #tt:hover{
           cursor: pointer;
        }
        & .bz{
            float: right;
        }
    }
}
#sp{
    width: 980px;
    height:auto;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #DCDFE4;
    & .cell{
        width:100% ;
        border-collapse: collapse;
        border-spacing: 0;
        color: #333333;
        font-size: 12px;
        & thead{
            background: grey;
           
            & tr{
                height: 40px;
            }
        }
    }
    tbody{
        font-size: 12px;
        color: #333;
        & .selected{
            background: #F8F8F8;
            height: 100px;
            & .bar{
                padding-left: 30px;
                text-align: left;
                width: 50px
            }
            & .image img{
                display: block;
                width: 50px;
                height: 50px;
                border: 1px solid #C8C8C8;
            }
            & .reduce{
                display: block;
                width: 20px;
                height: 18px;
                border:1px solid #3333;
                float:left;
                text-align: center;
            }
            & .count-input{
                width: 50px;
                float: left;
                text-align: center;
            }
            & .add{
                display: block;
                width: 20px ;
                height: 18px;
                border:1px solid #3333;
                float: left;
                text-align: center;
            }
            & a{
                color: #333333;
                text-decoration: none;
            }
        }
    }
    & .bar-summary{
        width: 980px;
        margin-top: 30px;
        border:1px solid #cccccc ;
        line-height: 25px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        overflow: hidden;

        & .bar{
            width: auto;
            padding: 14px 42px 0 13px;
            margin-bottom: 20px;
            & ckb{
                width: 13px;
                height: 13px;
                vertical-align: middle
            }
            & .batch-del-cart{
                padding-left: 30px;
                text-align: left;
                width: 50px;
                text-decoration: none;
                color: #333333;
            }
            & span{
                padding-left: 42px;
                & em{
                    color: red;
                }

            }
        }
        & .summary{
               float: left;
               padding: 10px 10px 10px 13px;
            & .amount{
                font-size: 24px;
                color: red;
            }
        }
        & .btn-panel{
            padding: 0 0 15px 0;
            float: right;
            & .go-buy{
                display: block;
                background-position: -160px 0;
                color: #666;
                height: 37px;
                line-height: 37px;
                margin-left: 10px;
                font-size: 14px;
                text-align: center;
                width: 122px;
                background: #EAEAEA;
                text-decoration: none;
                float: left;
                
            }
            & .checkout{
                display: block;
                background-position: 0 0;
                color: #fff;
                height: 50px;
                line-height: 50px;
               margin-left: 10px;
                padding-left: 50px;
                width: 110px;
                background: url(//ssl.vanclimg.com/shopping/newpromotions/newpromotion.gif) no-repeat 0 0;
                overflow: hidden;
                text-decoration:none
            
            }
        }
    }
}
