*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.head{
    width: 100%;
    height: auto;
    // background: red;
    & .headerTop{
        width: 100%;
        height: 30px;
        background: #F7F7F7;
        border-bottom: 1px solid #ccc;
        & .headNav{
            width: 1200px;
            height: 30px;
            margin: 0 auto;
            & .headLeft{
                height: 100%;
                line-height: 31px;
                color: #808080;
                float: right;
                font-size: 12px;
                & a{
                    text-decoration: none;
                    color: #808080;
                }
                & .a1 {
                   background:url(http://i4.vanclimg.com/cms/20160912/notice.png) no-repeat scroll 0px 0px;
                   padding-left: 26px;
                }
                & .a2{
                    padding-left: 10px;
    
                }
                & a:hover{
                    color: red;
                }
            }
        }

    }
    & .sousuo{
        width: 1200px;
        height: 62px;
        margin: 0 auto;
        margin-top: 30px;
        & #ss{
          float: right;
        
        & .serchTop{
           height: 26px;
           display: flex;
        & .serch{
           display: flex;
        & input{

            width: 260px;
            height: 26px;

        }
        & button{
            width: 49px;
            height: 30px;
            border: none;
            background: #B81C22;
            color: #fff;
            cursor: pointer;
        }
        
    }
    & .shop{
        width: 105px;
        height: 30px;
        background: #B81C22;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        & .iconfont{
            color: #fff;
        }
        & a{
            text-decoration: none;
            font-size: 14px;
            color: #fff;
        }
    }
}
& p{
    font-size: 12px;
    color: #727171;
    padding-top: 10px;
    & a{
        text-decoration: none;
        color: #727171;

    }
}
        }

    }
    & #nav{
        width: 1200px;
        height: 100px;
        margin: 0 auto;
        & ul{
            height: 100%;
            display: flex;
            align-items: center;
            & li{
                width: 99px;
                text-align: center;
                height: 22px;
                border-right: 1px solid #727171;
                position: relative;
                & .dh{
                    width: 100%;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    top: 24px;
                    display: none;
                    z-index: 100;
                    padding-bottom: 20px;

                    & a{  
                        display: block;
                        padding-top: 15px;
                    }

                }
                
            }
            & li:hover .dh{
                display: block;
                border-top: 5px solid #B81C21;
            }

            & li a{
                text-decoration: none;
                color: #727171;
            }
            & li a:hover{
                color: red;
            }
            & .logo{
                width: 185px;
                margin-top: -42px;
                border: none;
            }
            & .logo a{
                display: block;
                width: 185px;
                height: 46px;
                background: url(http://i4.vanclimg.com/cms/20160923/logo18546.png) no-repeat scroll;
            }
        }
    }

}
.lunbo{
  width: 100%;  
  height: 535px;
  margin-bottom: 40px;
  & #test1{
    width: 1200px;
    height: 535px;
    margin: 0 auto;
      & #item{
        width: 1200px;
        height: 535px;
        margin: 0 auto;
      }
   }
}

.gao{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    & .gao-img{
        width: 1200px;
        height: 60px;
        margin: 0 auto;
    }
}
.newDate{
    width: 100%;
    margin-bottom: 10px;
    & a{
     display: block;
      width: 1200px;
      height: 64px;
      margin: 0 auto;
      & h2{
          width: 100%;
          height: 64px;
          
          background: url(https://i2.vanclimg.com/cms/20191227/ms.jpg) no-repeat scroll 0px 0px;
      }
    }
}
#seckill{
    width: 100%;
    & ul{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        & li{
            font-size: 16px;
            color: #474747;
            width: 232px;
            margin-right: 10px;
            & #text{
               margin-top: 10px;
               height: 32px;
            }
            & p span:nth-child(1){
                color: #BB2B34;
                font-size: 14px;
                float: left;
            }
            & p span:nth-child(2){
               float:right;
            }
            & p i{
                font-size: 20px;
                color:#BB2B34 ;
            }
        }
    }
}
.news{
    width: 100%;
    margin-bottom: 20px;
    & a{
        display: block;
        width: 1200px;
        height: 60px;
        margin: 0 auto;
    }
}
.news1{
    width: 100%;
    margin-bottom: 20px;
    & li{
        width: 1200px;
        height: 220px;
        margin: 0 auto;
    }
}
#maps{
    width: 100%;
    & ul{
        width: 1200px;
        height: 593px;
        margin: 0 auto;
        display: flex;
        & li{
            width: 300px;
            height: 593px;
            & li a{
                display: block;
                width: 300px;
                height: 593px;
            }
        }
    }
}
table{
    width: 1200px;
    height: 532px;
    margin: 0 auto;
    & tr{
        width: 100%;
        height: 532px;
        & td{
            width: 600px;
            height: 532px;
        }
    }
}
.shangzhuang{
    width: 1200px;
    height:auto;
    margin: 0 auto;
    & h2{
        text-align: center;
        color: #9A9AA7;
        line-height: 50px;
        margin: 30px 0;
    }
    & ul{
       overflow: hidden; 
    }
    & ul li{
        margin-right: 15px;
    }
    & ul li img{
        display: block;
    }
    & ul .pic-one{
        width: 590px;
        float: left;
        & p{
            height: 28px;
            padding: 20px 12px;
            & span{
                float: right;
                color: red;
            }
        }
    }
    & ul .pic-two{
        width: 290px;
        // height: 260px;
        float: left;
        & p{
            height: 28px;
            padding: 20px 12px;
            margin-bottom: 12px;
            & span{
                float: right;
                color: red;
            }  
        }
    }
    & ul .pic-four{
        width: 286px;
        float: left;
        margin-right: 0;
        & p{
            height: 28px;
            padding: 20px 12px;
            margin-bottom: 12px;
            & span{
                float: right;
                color: red;  
            } 
        }
    }
}
.kuzhuang{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    & h2{
        text-align: center;
        color: #9A9AA7;
        line-height: 50px;
        margin: 30px 0;
    }
    & ul{
        display: flex;
        justify-content: space-around;
    }
    & ul li{
        width: 285px;
        height: 508px;
        & p{
            height: 28px;
            padding: 20px 12px;
            & span{
                float: right;
                color: red;
            }
        }
    }
}
.foot{
    width: 1200px;
    height: 282px;
    border: 1px solid #e0e0e1;
    margin: 20px auto;
    padding: 0px 40px 0px;
    & .footer{
        width: 100%;
        margin-top: 30px;
        & ul{
            display: flex;
            justify-content: space-around;
            & li{
                width: 370px;
                height: 138px; 
                border-right: 1px solid #e0e0e1;    
                & a{
                    display: block;
                    text-decoration: none;
                    width: 370px;
                    height: 138px;
                    overflow: hidden;
                    & img{
                        display: block;
                        margin: 0 auto;
                        margin-top: 30px;
                        margin-bottom: 20px;
                    }
                    & p{
                        color: #727171;
                       text-align: center;
                    }
                }
            }
            & .go1 p{
                width: 156px;
                height: 32px;
                color: #fff;
                line-height: 32px;
                margin: 0 auto;
                background: #B81C22;
            }
            & li:nth-of-type(3) img{
                width: 100px;
                height: 100px;
                margin-top: 0;
                margin-bottom: 10px;
            }
        }
    }
    & .footer-bottom{
        width: 100%;
        height: 26px;
        margin-top: 20px;

        padding: 17px 0px 14px;
        background: #f8f8f8;
        & ul{
            display: flex;
            justify-content: space-between;
            & li{
               width: auto;
               padding: 0px 40px 0px;
               border-right: 1px solid #dadadb;
               & a{
                   color: #333333;
               }
            }
        }
    }
}
.footerAer{
    width: 100%;
    height: auto;
    & .footerTop{
        width: 100%;
        padding: 20px 0;
        border-top: 1px solid #000000;
        & p{
            text-align: center;
            margin-bottom: 10px;
        }
    }
    & .footerbot{
        width: 980px;
        text-align: center;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        & a{
            margin: 0 10px;
        }
        & .redlogo{
            display: block;
            height: 42px;
            width: 113px;
            background: url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat scroll 0 -581px transparent;
        }
        & .cnga{
            background: url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat scroll 0 -629px transparent;
            display:block;
            height: 45px;
            width: 156px;
        }
        & .jiaoyi{
            background: url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat scroll 0 -675px transparent;
            display: inline-block;
            height: 42px;
            width: 96px; 
        }
        & .msg{
            background: url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat scroll -97px -675px transparent;
            display: inline-block;
            height: 42px;
            width: 101px;
        }
        & .flow{
            background: url(http://i.vanclimg.com/cms/20140116/spritesbgtop.png) no-repeat scroll -202px -675px transparent;
            display: inline-block;
            height: 42px;
            width: 42px;
        }
    }
}